[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gmillz
[access "refs/for/refs/*"]
	read = group user/gmillz
	push = group user/gmillz
	label-Code-Review = -2..+2 group user/gmillz
	label-Verified = -1..+1 group user/gmillz
	rebase = group user/gmillz
	removeReviewer = group user/gmillz
	submit = group user/gmillz
[access "refs/heads/*"]
	read = group user/gmillz
	create = group user/gmillz
	push = +force group user/gmillz
	pushMerge = group user/gmillz
[access "refs/tags/*"]
	push = +force group user/gmillz
	pushTag = group user/gmillz
	pushSignedTag = group user/gmillz
